.container {
    text-align: center;
}

.footer {
    bottom: 0;
    width: 100%;
    position: fixed;
    text-align: center;
    padding-bottom: 1.5%;
}

button {
    width: 150px;
    height: 50px;
    margin-left: 2%;
    border-radius: 10px;
    border-color: transparent;
    transition: all 0.2s ease-out;
}

button:hover {
    color: blueviolet;
    transform: scale(1.2, 1.2);
    transition: all 0.2s ease-in;
    margin-left: 4%;
}

input {
    width: 350px;
    height: 50px;
    padding-left: 15px;
    border-radius: 10px;
    border-color: darkslategrey;
    transition: all 0.5s ease-out;
}

input:focus {
    border-color: transparent;
    transition: all 0.2s ease-in;
    transform: scale(1.02, 1.03);
    margin-right: 2.5%;
}

.shorten {
    margin-top: 10%;
}

.stats {
    margin-top: 5%;
}

.hide {
    display: none;
}

table {
    margin-top: 15%;
    width: 100%;
    border-radius: 10px;
}

tr {
    height: 50px;
    border-radius: 10px;
    border: none;
}

tr:hover {
    background-color: lightgrey;
    border-radius: 10px;
}

th {
    text-align: center;
    border-radius: 10px;
}

th:hover {
    background-color: darkslategrey;
    color: white;
    border-radius: 10px;
}

td {
    text-align: center;
    border-radius: 10px;
}

td:hover {
    background-color: darkslategrey;
    color: white;
    border-radius: 10px;
}